@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap");
.success {
  background-color: #11efee;
}

.danger {
  background-color: #112311;
  color: #ffffff;
}

body {
  background-color: #3b4c8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif, "Noto Serif TC", serif;
}

.drinkType {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  max-width: 400px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.drinkType:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.drinkType .num {
  font-size: 60px;
  flex: 1;
  margin-right: 30px;
  font-weight: 900;
}
.drinkType .cupContainer {
  flex: 3;
  margin: auto;
  margin-right: 30px;
}
.drinkType .control {
  flex: 3;
}

.cup {
  border: 3px solid white;
  width: 70px;
  height: 50px;
  border-top: none;
  border-radius: 0 0 50px 50px;
  margin: 10px;
  padding-top: 5px;
  position: relative;
}
.cup:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  border: 3px solid white;
  left: 100%;
  top: 20%;
  border-radius: 0 30px 30px 0;
  border-left: none;
}
.cup .ingradients {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}
.cup .money, .cup .achivement, .cup .compatible, .cup .feeling {
  background-color: white;
  height: 15px;
}
.cup .money {
  background-color: #fffc38;
}
.cup .achivement {
  background-color: #38ffe1;
}
.cup .compatible {
  background-color: #ff38db;
}
.cup .feeling {
  background-color: #ce8fff;
}

.small {
  width: 50px;
  height: 40px;
}

.large {
  width: 80px;
  height: 70px;
}

.mock {
  width: 50px;
  height: 70px;
  border-radius: 0px;
}
.mock .ingradients {
  border-radius: 0px;
}

.favorite:before {
  content: "MOST";
  display: block;
  position: absolute;
  border: 2px solid #fc9e32;
  color: #fc9e32;
  padding: 3px 5px;
  margin-top: -40px;
  margin-left: -40px;
  transform: rotate(-32deg);
}

label {
  font-size: 12px;
  transition: 0.3s;
}

.control {
  transition: 0.3s;
}

.topic {
  letter-spacing: 2px;
}